<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}
<body>
	<div class="container wrapper post">
		{{ partial "head.html" . }}

		<div class="post-header">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">Posted at &mdash; {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
		</div>

		<div class="post-tags">
			{{ if ne .Type "page" }}
				{{ if or (gt .Params.tags 0) (gt .Params.categories 0) }}
				<nav class="nav">
						<ul class="flat">
							{{ range .Params.tags }}
							<li class="tags"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
							{{end}}
							{{ range .Params.categories }}
							<li class="categories"><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
							{{ end }}
						</ul>
				</nav>
				{{ end }}
			{{ end }}
		</div>

		<div class="markdown">
			{{ .Content }}
		</div>
		
		{{- $.Scratch.Set "comments" true -}}

		{{- if and (isset .Site.Params "enablecomments") (not .Site.Params.enableComments)}}
		{{- $.Scratch.Set "comments" false -}}
		{{- end -}}

		{{- if isset .Params "enablecomments" -}}
		{{- $.Scratch.Set "comments" .Params.enablecomments -}}
		{{- end -}}

		{{ if not .Site.Params.commentsRepo }}
		{{- $.Scratch.Set "comments" false -}}
		{{ end }}
		
		{{- if $.Scratch.Get "comments" -}}
		{{- partial "comments.html" . -}}
		{{- else -}}
		{{- "<!-- Comments are disabled on this page. -->" | safeHTML -}}
		{{- end -}}
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
